<strong>好きな曲</strong><br>
<% if !current_user.favorite_song.empty? %>
    <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Listen</th>
              <th>Remove from list</th>
            </tr>
          </thead>
    
          <tbody>
            <% current_user.favorite_song.each do |favorite_song|%>
              <tr>
                <td><%= favorite_song.song.name %></td>
                <td><%= favorite_song.song.artist%></td>
                <td><%= link_to 'Listen', favorite_song.song %></td>
                <td><%= link_to 'Remove',favorite_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
<% end %>
<br><br>

<h1>プロフィール</h1>

<% if current_user.avatar.attached? %>
    <strong>アバター</strong>
    <%= image_tag current_user.avatar %><br><br>
<% end %>

<strong>名前</strong><br>
<%= current_user.name %><br><br>

<strong>年齢</strong><br>
<%= current_user.age %><br><br>

<strong>メールアドレス </strong><br>
<%= current_user.email%><br><br>



