<p id="notice"><%= notice %></p>

<h1>Favorite Songs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_songs.each do |favorite_song| %>
      <tr>
        <td><%= favorite_song.user_id %></td>
        <td><%= favorite_song.song_id %></td>
        <td><%= link_to 'Remove from list', favorite_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', songs_path %>
