<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>
<audio controls>
    <source src="<%= rails_blob_url(@song.mp3) %>" 
    type="audio/mpeg" />
</audio><br><br>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
